.patientProfileCard{
    margin-top: 15px;
    background-color:rgba(255, 255, 255, 0.9);
}

.patientProfileImage{
    width: 200px;
    height: 200px;
    margin: 35px;
    border-radius: 9%;
}

.titleProfile{
    font-weight: bold;
}

#spacePatientProfile{
    height: 16.7em;
}