.SearchEnvironment{
    height: 650px;
    width: 100%;
    
}

.spaceSearchDoctor{
    margin-top: 25%;
}
#spaceForDoctorSearch{
    height: 600px;
}
.formSearch{

    background-color:rgba(255, 255, 255, 0.9);
    border-color: black;
    border-width: 10xpx;
}